.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  color: white;
  border-bottom: 1px solid rgb(208, 208, 208);
  padding: 10px;
}

.navbarLink {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.3s;
}

.navbarLink:hover {
  color: #7e18c2;
}
